 # Exclude local dependencies (Docker should install its own)
node_modules
**/node_modules

# Exclude build logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Exclude source control and environment variables
.git
.gitignore
.env
.env.*

# Exclude Docker files themselves
Dockerfile
docker-compose*
.dockerignore
