NODE_ENV=development
PORT=5000

# MONGO_URI=mongodb://localhost:27017/slotsync

CORS_ORIGIN=http://localhost:5173


JWT_ACCESS_SECRET=change_this_to_a_long_random_secret
JWT_REFRESH_SECRET=change_this_to_another_long_random_secret

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

COOKIE_SECURE=false
COOKIE_SAME_SITE=lax



DBUSER=yoyided232_db_user
DBPASS=1ZOzPQwZyir24Cqy
MONGO_URI=mongodb://127.0.0.1:27017/